@font-face {
    font-family:"BasierCircle";
    font-style:normal;
    font-weight:400;
    src:url({URL_RESOURCES}/common/fonts/BasierCircle-Regular.woff2) format('woff2');
}

@font-face {
    font-family:"BasierCircle";
    font-style:semibold;
    font-weight:600;
    src:url({URL_RESOURCES}/common/fonts/BasierCircle-SemiBold.woff2) format('woff2');
}

@font-face {
    font-family:"BasierCircle";
    font-style:bold;
    font-weight:700;
    src:url({URL_RESOURCES}/common/fonts/BasierCircle-Bold.woff2) format('woff2');
}