@font-face {
  font-family: "Sailec";
  font-style: normal;
  font-weight: 400;
  src: url({URL_RESOURCES}/common/fonts/Sailec-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Sailec";
  font-style: bold;
  font-weight: 500;
  src: url({URL_RESOURCES}/common/fonts/Sailec-Medium.woff2) format("woff2");
}
