.DS_Store
.env
.env.production
.env.staging
.env.dev
.vscode
.idea
.marko.js
builds
logs
data
xlsx
node_modules
*.log
*.xls*
secrets.json
src/frontend/public/common/blockchain/test.js
memo.txt
npm-debug.log
npm-debug.log.*
vendor
.node*
dist