.LoadingForm {
    align-items:flex-start;
    justify-content: flex-start;
    position:relative;
    margin: auto;
    max-width: 470px !important;
    min-height: 42vh;
    max-height: 475px !important;
    min-width: 30vw;
    padding: 20px;
}

.LoadingForm .CudosMainLogo {
    margin-top: 30px;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    animation: spin 2s linear infinite;
}

/*Loading spinner animation */

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.LoadingForm .Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LoadingForm .CudosFont {
    margin-top: 15px;
    width: 100px;
    height: 20px;
    margin-bottom: 10px;
}

.LoadingForm .Title {
    font-family: Poppins, sans-serif;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}

.LoadingForm .AdditionalText {
  font-family: Poppins, sans-serif;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

/*Loading dots animation */

@keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
  }

.Saving span {
    font-size: 50px;
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  }
  
  .Saving span:nth-child(2) {
    animation-delay: .2s;
  }
  
  .Saving span:nth-child(3) {
    animation-delay: .4s;
}

.line {
    height: 5px;
    border-bottom: 2px solid rgba(82, 166, 248, 1) !important;
    border-top: 2px solid rgba(82, 166, 248, 1) !important;
    border-radius: 3px 3px 3px 3px;
  }