/* version 2.0.0 */

.DisableActions {
    width:100%; height:100%;
    display:flex; flex-direction:column;
    align-items:center; justify-content:flex-start;
    position:fixed;
    left:0; top:0;
    z-index:1000000;
}

.DisableActions > label {
    width:100%; height:5px;
    background:var(--color-secondary);
    z-index:1000000;
    transform:translateY(-100%);
    transition-property:transform;
}

.DisableActions.Active > label {
    transform:translateY(0%);
}

.DisableActions > label:before {
    content:'';
    width:100%; height:100%;
    display:block;
    background: var(--color-primary);

    transform-origin:left;
}

.DisableActions.Active > label:before {
    animation-name:DISABLED_ACTIONS_LOADER;
    animation-duration:1s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

@keyframes DISABLED_ACTIONS_LOADER {
    0% { transform: translateX(0%) scaleX(0) }
    50% { transform: translateX(0%) scaleX(1) }
    100% { transform: translateX(100%) scaleX(0) }
}