/* version 2.1.0 */
.PopupWindowWrapper {
    width:100%; height:100%;
    display:flex;
    align-items:center; justify-content:center;
    position:fixed;
    left:0; top:0;
    background:rgba(0, 0, 0, 0.5);
    z-index:2040;
}

.PopupWindowWrapper > .PopupWindow {
    max-height:90%; line-height:normal;
    display: flex; flex-direction: column;
    position:relative;
    background:#fff;
    box-shadow:0px 0px 17px 0px #bbb;
    overflow-x:hidden;
    overflow-y:auto;
}

.PopupWindowWrapper > .PopupWindow > .Close {
    width:16px; height:16px; line-height:16px;
    position:absolute;
    right:0; top:0;
    text-align:center;
    font-size:24px;
    padding:8px;
    z-index:1;
    cursor:pointer;
}

.PopupWindowWrapper > .PopupWindow > .ScrollableWrapper {
    scroll-behavior: smooth;
    overflow-x:hidden;
    overflow-y:auto;
}

/* project specific */
.PopupWindowWrapper > .PopupWindow {
    max-width: calc(100% - 32px); max-height: 70%;
    background:transparent;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    border-radius: 20px;
    scroll-behavior: smooth;
    background: var(--color-body-background);
}

.PopupWindowWrapper > .PopupWindow .PopupWindowContent {
    width: 700px; max-width: 100%;
}

.PopupWindowWrapper > .PopupWindow .PopupWindowContent.LargeContent {
    width: 1100px;
}

.PopupWindowWrapper > .PopupWindow .PopupWindowContent.SmallContent {
    width: 310px;
}

.PopupWindowWrapper.PopupFullScreen .PopupWindow {
    width: 100%; height: 100%;
    max-width: none; max-height: none;
    background: var(--color-popup-background);
}

.PopupWindowWrapper.PopupFullScreen .PopupWindow .PopupWindowContent {
    width: 100%; min-width: 0; max-width: none;
}

.PopupWindowWrapper.PopupFullScreen.PopupFullScreenBlack .PopupWindow {
    background: #000;
}

.PopupWindowWrapper.PopupPadding > .PopupWindow .PopupWindowContent {
    box-sizing: border-box;
    padding: var(--spacing-half);
}

.PopupWindowWrapper.PopupBox > .PopupWindow .PopupWindowContent {
    background: var(--color-popup-background);
}


.PopupWindowWrapper > .Close {
    position:absolute;
    right:42px; top:42px;
    color: #fff;
}

.PopupWindowWrapper > .PopupWindow > .Close {
    color: var(--color-red);
    padding: 14px;
}

.PopupWindowWrapper .ActionsBottom {
    margin-top: 32px;
}

.PopupWindowWrapper .PopupTitleRow {
    display: flex;
    margin-bottom: var(--spacing-half);
}

.PopupWindowWrapper .PopupTitleRow .PopupTitle {
    color: #fff;
    font-size: 24px; font-weight: 700;
}

.PopupWindowWrapper .PopupSubtitle {
    text-align:center;
}

.PopupWindowWrapper hr {
    height: 1px;
    border: 0;
    margin: var(--spacing-half) 0;
    background-color: var(--color-gray);
}
