.TableDesktop {
    /* border: 1px solid var(--color-dark-minus-02); */
    /* border-radius: 4px; */
    color: var(--color-dark-gray);
}

.TableDesktop.ContentScrollable {
    display: flex; flex-direction: column;
    flex: 1 1 auto;
}

.TableDesktop .Empty {
    height: 128px;
    background: #262b310f;
}

.TableDesktop .TableRow {
    display: flex;
    padding:12px 16px;
    transition-property:background;
}

.TableDesktop .TableRow:nth-child(even) {
    background: #262b3106;
}

.TableDesktop .TableRow:not(:last-child) {
    /* margin-bottom: 1px; */
    /* border-bottom: 1px solid var(--color-dark-minus-02); */
    /* border-bottom: 1px solid #0d0d0d !important; */
}

/* .TableDesktop > :first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.TableDesktop > :last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
} */

.TableDesktop .TableRow:not(.Legend) {
    cursor: pointer;
}

.TableDesktop.ContentScrollable .TableRow:not(.Legend) {
    flex: 1 1 auto;
}

.TableDesktop .TableRow.Legend {
    color: var(--color-primary);
    text-transform: uppercase;
    font-size: 12px; font-weight: 700;
    /* background: var(--color-dark-minus-02); */
}

/* .TableDesktop .TableRow:not(.Legend):hover {
    background: var(--color-primary-hover);
} */

.TableDesktop .TableCell {
    box-sizing: border-box;
}

.TableDesktop .TableCell.TableCellAlignLeft {
    justify-content: flex-start;
    padding-right: 4px;
}

.TableDesktop .TableCell.TableCellAlignCenter {
    justify-content: center;
    padding: 0 2px;
}

.TableDesktop .TableCell.TableCellAlignRight {
    justify-content: flex-end;
    padding-left: 4px;
}

.TableDesktop .TableRow.Legend .TableCell.Sorted {
    color: var(--color-primary);
}
