.TableMobile {
    /* border: 1px solid var(--color-dark-minus-02); */
    /* border-radius: 4px; */
    color: var(--color-dark-gray);
}

.TableMobile .Empty {
    height:128px;
    color:#fff;
    background: #262b310f;
}

.TableMobile .TableRow {
    display: flex; flex-direction: column;
    padding:6px 12px;
    transition-property:background;
}

.TableMobile .TableRow:nth-child(even) {
    background: #262b3106;
}

.TableMobile .TableRow:not(:last-child) {
    /* margin-bottom: 1px; */
    /* border-bottom: 1px solid var(--color-dark-minus-02); */
    /* border-bottom: 1px solid #0d0d0d !important; */
}

.TableMobileHeaderSortOptions {
    text-align: right;
}

.TableMobileHeaderSortOptions > :not(:last-child) {
    padding-bottom: 12px;
}

/* .TableMobile > :first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.TableMobile > :last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
} */

.TableMobile .TableRow:not(.Legend) {
    cursor: pointer;
}

.TableMobile .TableRow.Legend {
    color: #515D79;
    text-transform: uppercase;
    font-size: 12px; font-weight: 700;
    /* background: var(--color-dark-minus-02); */
}

/* .TableMobile .TableRow:not(.Legend):hover {
    background: var(--color-primary-hover);
} */

.TableMobile .TableCell {
    display: flex;
    align-items:center; justify-content: space-between;
    box-sizing: border-box;
    padding:6px 0;
}

.TableMobile .TableCell > div {
    width: 0px;
    display: flex; align-items: center;
    flex:1 1 auto;
}

.TableMobile .TableCell > div:first-child {
    justify-content: flex-start;
    text-align: left;
    margin-right: 6px;
}

.TableMobile .TableCell > div:last-child:not(:first-child) {
    justify-content: flex-end;
    text-align: right;
    margin-left: 6px;
}
