NODE_ENV=production|dev
NETWORK_TYPE=mainnet/testnet
BACKEND_PORT= (port on which server will be accessed from browser)
FRONTEND_PORT=
URL=http://ip/localhost/domain
SESSION_UNIQUE_KEY=secret

#cudos network variables
CHAIN_NAME=<name_to_display_in_keplr_wallet>
CHAIN_ID=
RPC=
API=
GAS_PRICE=
STAKING=<url_for_staking_button_in_keplr_wallet>
BLOCK_EXPLORER=(http://<explorer-web-address>/transactions)
GRAVITY_MODULE_ADDRESS=

#orchestrator variables
ERC20_CONTRACT_ADDRESS=
BRIDGE_CONTRACT_ADDRESS=

#ethereum variables
ETHEREUM_GAS=
ETHEREUM_RPC=
