.CudosBridge .Page {
    position:relative;
}

.CudosBridge .PageContent {
    align-items:flex-start;
    justify-content: flex-start;
    position:relative;
    width: 540px;
    margin: auto;
    margin-top: 50px;
}

.CudosBridge .Header {
    font-size: 20px;
    padding-left: 5px;
    align-items: flex-start;
    font-weight: 400;
}

.CudosBridge .Header .NetworkName{
    font-weight: bold;
}

.CudosBridge .PageContent .Heading2 {
    text-align:center;
    margin-bottom:48px;
}

.CudosBridge .SendForm {
    background-color: var(--color-primary);
    align-items: center;
    padding: 50px;
    border-radius: 20px;
}

.CudosBridge .SendForm .FormRow {
    margin-top: 50px;
}

.CudosBridge .SendForm .Inputs .Button{
    margin-left: 20px;
}

.CudosBridge .SendForm .NetworkSelectMenu {
    justify-content: space-between;
}

.CudosBridge .SendForm .NetworkSelectMenu .SVG{
    fill: #FFF;
}


.CudosBridge .SendForm .NetworkSelectMenu .NetworkSelect {
    align-items: center;
}