:root {
    --header-height: 64px;
    --header-padding: 16px;
}

.HeaderSpace {
    height: var(--header-height);
}

header {
    width: 100%; height: var(--header-height);
    box-sizing: border-box;
    position: fixed;
    left: 0; top: 0;
    border-bottom-left-radius: 24px; border-bottom-right-radius: 24px;
    padding-left: 16px;
    padding-right: 16px;
    box-shadow: 0px 7px 8px #BCBCBC29;
}

header .HeaderLogoA {
    display: block;
}

header .HeaderLogoA .HeaderLogo {
    width: calc(var(--header-height) - 2 * var(--header-padding));
    display: block;
}